#navbar {
  transition: all 0.3s ease;
}

.active {
  color: #e25720 !important;
  font-weight: 500;
}

.navbar_show {
  display: none;
  transition: all 0.6s ease;
  background: #fff;
  margin-top: -3rem;
  z-index: 2;
}

.navigation {
  animation: navs 0.4s forwards;
  background-color: #fff;
}

@keyframes navs {
  from {
    top: -2rem;
  }

  to {
    top: 0;
  }
}

.fs-xxs {
  font-size: 12px;
}

.fs-xs {
  font-size: 14px;
}

img {
  height: 4rem;
}

/* SEARCH BAR */

.search_icon ion-icons {
  color: #fff !important;
}

.scroll {
  width: auto;
  overflow-x: auto;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.sideBar {
  width: 14rem;
  height: 100vh;
  background: #fff;
}

@media (max-width: 425.98px) {
  .sideBar {
    width: 10rem !important;
  }

  .sidebar_sm {
    padding-left: 0.4rem !important;
  }

  .close {
    padding-left: 0.5rem !important;
  }
}

@media (max-width: 375.98px) {
  .sideBar {
    width: 9rem !important;
  }

  .sidebar_sm {
    padding-left: 0.4rem !important;
  }
}
